node_modules/
.next/
*.tsbuildinfo
.DS_Store

.env
.env.*
!.env.example
!.env.local.example

npm-debug.log*
.vercel
build-server/
firebase-debug.log
public/archive/
public/app/images/
public/data/
public/firebase.js
public/js/
public/legacy/
public/styles/
